body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
section {
  width: 80%;
}

header {
  padding-top: 70px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 700px;
  width: 100%;
  font-family: "Courier New", Courier, monospace;
}
nav {
  width: 100%;
  background-color: white;
  display: flex;
  flex-direction: row;
  position: fixed;
  top: 0;
  left: 0;
  justify-content: space-between;
  align-items: center;
  height: 6rem;
  border-bottom: 2px solid lightgray;
  //padding: 0 4rem 0 4rem;
}
nav p {
  font-weight: 600;
  font-size: 1.2rem;
  margin-left: 4rem;
}

ul {
  display: flex;
  list-style: none;
  margin-right: 4rem;
  gap: 3rem;
  font-size: 1.1rem;
}

ul li {
  font-size: 1.2;
  //margin
}
ul li a {
  color: black;
  text-decoration: none;
}

.title-container {
  display: flex;
  flex-direction: row;
  width: 80%;
  height: 60%;
  font-size: 30px;
  margin: auto;
  &__p {
    font-size: 48px;
    font-weight: bold;
  }
}
.intro {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  height: 100%;
  width: 55%;
}
.imagebox {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 45%;
  height: 100%;
}
.introImage {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  //background-color: grey;
  border: 6px solid black;
}
.about {
  display: flex;
  height: 600px;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: auto;
  padding-top: 6rem;
}
.aboutImg {
  width: 35%;
  height: 80%;
}
.aboutArticle {
  padding: 8rem;
  font-family: "Courier New", Courier, monospace;
  width: 65%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
}
.aboutHeading {
  font-size: 32px;
}

.projectSection {
  min-height: 1000px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  padding-top: 6rem;
}
.projectsHeader {
  font-family: "Courier New", Courier, monospace;
  font-size: 32px;
}
.projectsContainer {
  margin-top: 4rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 80%;
  gap: 80px;
}
.projectCard {
  width: 30%;
  height: 450px;
  background-color: white;
  border: 4px solid black;
  border-radius: 12px;
}
.skillsSection {
  margin-top: 6rem;
  padding-top: 6rem;
  height: 500px;
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: "Courier New", Courier, monospace;
  font-size: 20px;
  margin: 0 auto;
}
.projectsHeader {
  font-size: 32px;
  font-weight: 700;
}

.image {
  margin-bottom: 150px;
  margin-top: 4rem;
  width: 80%;
  height: 10rem;
  display: flex;
  justify-self: center;
}

footer {
  font-family: "Courier New", Courier, monospace;
  font-size: 20px;
  height: 260px;
  background-color: black;
  color: white;
  padding: 4rem;
  font-weight: 700;
}
footer a {
  color: white;
  text-decoration: none;
}
.grid {
  display: grid;
  grid-template-columns: 4fr; //1 = 1 column, fr= fractional unit
  grid-template-rows: auto auto;
  gap: 40px;
}
//@media all and (max-width: 500px) (max-height: 1000px) {}//
