.container {
  display: flex;
  flex-direction: column-reverse;
  width: 600px;
  border: 2px solid black;
}

.inner-container {
  display: flex;
  flex-direction: row-reverse;
}

.card {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 100px;
  border: 1px solid black;
}

.card8 {
  background-color: aqua;
}

.card7 {
  background-color: lightblue;
}

.card6 {
  background-color: grey;
}

.card5 {
  background-color: pink;
}

.card4 {
  background-color: lightsalmon;
}

.card3 {
  background-color: lightgreen;
}

.card2 {
  background-color: lightcoral;
}

.card1 {
  background-color: lightblue;
}
